<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <script>
            var xhr = new XMLHttpRequest()
            const type = localStorage.getItem('type') || ''
            const domain = window.location.pathname.split('/')[1] || ''

            if (type !== domain) window.location.href = `/${type}`
        </script>
    </head>
    <body class="m-h-screen bg-gray-800">
        <nav
            class="flex justify-between bg-blue-500 text-white px-32 py-6 shadow"
        >
            <div>
                <a href="/" class="font-bold">Library</a>
                <a href="/admin/order">Orders</a>
            </div>
            <div>
                <button id="logout">Logout</button>
            </div>
        </nav>
        <div class="px-32 mt-8">
            <div class="px-2">
                <a
                    href="/admin/new"
                    class="px-3 py-2 shadow bg-blue-500 rounded text-white"
                    >New book</a
                >
            </div>
        </div>
        <div class="px-32 py-6 flex flex-wrap" id="container"></div>
    </body>
    <script>
        function edit(i) {
            localStorage.setItem('change', '[]')
            localStorage.setItem('change', JSON.stringify(i))
            // console.log(localStorage)
            location.href = '/admin/edit'
        }

        function xoa(i) {
            localStorage.setItem('delete', '[]')
            localStorage.setItem('delete', JSON.stringify(i))
            // console.log(localStorage)
        }

        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)

                const container = document.getElementById('container')

                container.innerHTML = resp.data
                    .map(function (item) {
                        console.log(item.id)

                        const data = `<div href="/admin/edit" class="text-white w-1/3 p-2">
                            <div class="bg-gray-700 rounded overflow-hidden">
                                <div style="height: 10rem; background: ${
                                    item.banner
                                        ? `url(/img/${item.banner})`
                                        : 'rgba(107,114,128,var(--tw-bg-opacity))'
                                }" class="bg-gray-500"></div>
                                <div class="p-4">
                                    <div class="font-bold mb-2">
                                        ${item.title}
                                    </div>
                                    <div class="text-xs italic mb-1">
                                        Author: ${item.author}
                                    </div>
                                    <div class="text-xs italic mb-1">
                                        Publisher: ${item.publisher}
                                    </div>
                                    <div class="text-xs italic">
                                        Category: ${item.categories}
                                    </div>
                                    <div class="text-xs italic">
                                        Base price: ${item.basePrice}
                                    </div>
                                    <div class="text-xs italic">
                                        Base price: ${item.quantity}
                                    </div>
                                    <button class="bg-blue-500 text-white mt-4 bg-blue-500 px-3 py-2 rounded" name="${
                            item.title
                        }" id="${item._ids[0]}" onclick={edit(${JSON.stringify(item)})}>
                                        Edit
                                    </button>
                                    <button class="bg-blue-500 text-white mt-4 bg-blue-500 px-3 py-2 rounded" name="${
                            item.title
                        }" id="${item._ids[0]}" onclick={xoa(${JSON.stringify(item.id)})}>
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    `
                        return data.trim()
                    })
                    .join('')
            }
        })

        xhr.open('GET', '/api/book')
        xhr.send()
    </script>
    <script>
        const logout = document.getElementById('logout')
        logout.addEventListener('click', function () {
            localStorage.removeItem('type')
            window.location.href = '/'
        })
    </script>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mini Lib</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png"> -->

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">


    <script>

        var xhr = new XMLHttpRequest()
        const type = localStorage.getItem('type') || ''
        const domain = window.location.pathname.split('/')[1] || ''

        if (type !== domain) window.location.href = `/${type}`

    </script>

</head>
<body>

<header id="masthead" class="site-header" data-anchor-target=".hero"
        data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);"
        data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
    <nav id="primary-navigation" class="site-navigation">
        <div class="container">
            <div class="navbar-header page-scroll">

                <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- <a href="#hero" class="site-logo"><img src="/img/logo.png" alt="logo"></a> -->

            </div><!-- /.navbar-header -->

            <div class="main-menu" id="portfolio-perfect-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="page-scroll"><a href="#hero">Tìm Kiếm</a></li>
                    <li class="page-scroll"><a href="/admin">Giá Sách</a></li>
                    <li class="page-scroll"><a href="/admin/order">Đơn mượn</a></li>
                    <li class="page-scroll"><a href="/admin/history">Lịch sử</a></li>

                    <li><a id="logout" class="btn btn-border">logout</a></li>

                </ul>

            </div>

        </div>
    </nav><!-- /.primary-navigation -->
</header><!-- /#header -->

<!-- <div id="hero" class="hero">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Library</h1>
                <div class="page-scroll">
                    <p class="job-title">Search a book, category, publisher...</p>
                    <div class="seach-bar">
                       <select class="form-select col-sm-3" aria-label="Default select example">
                           <option selected>choose one</option>
                           <option value="1">Name</option>
                           <option value="2">Category</option>
                           <option value="3">Publisher</option>


                         </select>
                         <div class="col-sm-9 search-box">
                           <input id="search-field" type="text" name="name" data-role="tagsinput" value='' class="form-control mt-x-0" placeholder="Name" required>

                       </div>

                    </div>

                    <a href="#portfolio" id="search-btn" class="btn btn-fill">Search</a>
                    <div class="clearfix visible-xxs"></div>
                    <a href="#portfolio" class="btn btn-border">Exp
                        lore</a>
                </div>
            </div>

            <div class="col-md-6 text-right">
                <img  >
            </div>

        </div>
    </div>
</div> -->
<section id="portfolio" class="site-section section-portfolio">

    <div class="sec-center col-md-2">
        <a href="/admin/new" id="add" class="btn btn-border">Thêm sách</a>
        <h5>thể loại</h5>
        <hr>

        <div class="checkbox-container">
            <ul id="search-category" class="ks-cboxtags">
            </ul>
        </div>
        <h5>nhà xuất bản</h5>
        <hr>
        <div class="checkbox-container">
            <ul id="search-publisher" class="ks-cboxtags">
            </ul>
        </div>

    </div>

    <div class="container col-md-9">
        <div class="book-shell">
            <h3>Giá sách</h3>
            <img src="/img/lines.svg" class="img-lines" alt="lines">
        </div>
        <div id="portfolio-container" class="row">
        </div>
    </div>
</section><!-- /.secton-portfolio -->


<main id="main" class="site-main">


    <!-- <section id="contact" class="site-section section-form text-center">
        <div class="container">

            <h3>Contact</h3>
            <img src="/img/lines.svg" class="img-lines" alt="lines">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" name="name" class="form-control mt-x-0" placeholder="Name" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="message" id="mesaage" class="form-control" placeholder="Message" required></textarea>
                    </div>
                </div>
                <button href="#" class="btn btn-border" type="submit">Hire Me <span class="glyphicon glyphicon-send"></span></button>
            </form>
        </div>
    </section>
    /.section-form -->

</main><!-- /#main -->
<script>

    function add(i) {
        const item = {title: i.name, id: i.id}
        const cart = JSON.parse(localStorage.getItem('cart') || '[]')
        localStorage.setItem('cart', JSON.stringify([...cart, item]))
        alert('Add book to cart!')
    }

    let _category = []
    let _publisher = []

    function list_all_category() {
        var cat = new XMLHttpRequest()

        cat.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)
                
                for (const i in resp.data) {
                    resp.data[i].categories.forEach(element => {
                        if (!_category.includes(element)) {
                        _category.push(element)
                        }
                    });
                    // if (!_category.includes())
                }
                const container = document.getElementById('search-category')
                console.log("sdfsdfsdfsdfsfsd")
                container.innerHTML = _category
                    .map(function (item, index) {
                        id = "checkbox" + String(index);
                        const data =
                        `
                        <li><input type="checkbox" id="${id}" value="${item}" onchange="search_category(this)"><label for="${id}">${item}</label></li>
                        `
                        return data.trim()
                    })
                    .join('')
            }
        })
        cat.open('GET', '/api/book')
        cat.send()

    }

    function list_all_publisher() {
        var pub = new XMLHttpRequest()

        pub.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)
                console.log(resp.data)
                
                for (const i in resp.data) {
                    resp.data[i].publisher.forEach(element => {
                        if (!_publisher.includes(element)) {
                            _publisher.push(element)
                        }
                    });
                }
                const container = document.getElementById('search-publisher')
                container.innerHTML = _publisher
                    .map(function (item, index) {
                        id = "publisher" + String(index);
                        const data =
                        `
                        <li><input type="checkbox" id="${id}" value="${item}" onchange="search_category(this)"><label for="${id}">${item}</label></li>
                        `
                        return data.trim()
                    })
                    .join('')
            }
        })
        pub.open('GET', '/api/book')
        pub.send()

    }

    function edit(i) {
        localStorage.setItem('change', '[]')
        localStorage.setItem('change', JSON.stringify(i))
        // console.log(localStorage)
        location.href = '/admin/edit'
    }

    function xoa(i) {
        // console.log(i._id)
        var data = JSON.stringify({
            id: i._id,
        })
        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)
                location.href = '/admin'
                console.log("done")
            }
        })

        xhr.open('POST', '/api/delete')
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(data)
        alert('Book deleted!')
    }
    

    function list_all_book(search, type) {
        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)

                const container = document.getElementById('portfolio-container')
                // console.log(resp.data)
                book_data = resp.data
                // console.log(book_data)
                container.innerHTML = resp.data
                    .map(function (item, index) {
                        var view = true;
                        
                        if ((item.title == search || search == '') && type=="name") {
                            view = true;
                        } else if (type = "category") {
                            if (search!=[]) {
                            view = search.every(i => item.categories.includes(i));
                             } else {
                                 view = true
                             }
                        
                        } else if (type = "publisher") {
                            if (value = []) view = true
                            else view = (item.publisher.includes(search));
                        }
                        if (view) {
                            name = String("portfolioItem" + index);
                            modal = document.createElement('div')
                            modal.id = name;
                            modal.className = "modal fade";
                            modal.role = "dialog";
                            modal_content =
                                `
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                            <img class="img-res" src="/img/portfolio-5.jpg" alt="">
                            </div>
                            <div class="modal-body">
                                <h4 class="modal-title">${item.title}</h4>
                                <h5> thể loại ${item.categories}
                                </h5>
                                <h5> tác giả : ${item.author}  </h5>
                                <h5> Nhà xuất bản :  ${item.publisher}  </h5>
                                <p>revew noi dung...</p>
                            </div>
                            <div class="modal-footer">
                            <a href="#" class="btn btn-fill">Add to cart</a>
                            </div>
                        </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                                `

                            modal.innerHTML = modal_content;
                            document.body.appendChild(modal);


                            const data =

                                `
                            <div class="col-md-3 col-xs-3">
                            <div class="portfolio-item">
                            <img src="/img/bg.jpeg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                            <h5>
                                ${item.title}
                            </h5>
                            <h6>${item.author}</h6>
                            <h6>${item.basePrice} VND<h6>
                            <a href="#" data-toggle="modal" data-target="#${name}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a id="${item._ids[0]}" onclick={add(this)} ><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                            </div><!-- /.portfolio-item -->
                            <div class="btn-group">
                                <button class="btn col-xs-6" name="${
                                        item.title
                                    }" id="${item._ids[0]}" onclick={edit(${JSON.stringify(item)})}>
                                Sửa
                                </button>
                                <button class="btn col-xs-6"  name="${
                                        item.title
                                    }" id="${item._ids[0]}" onclick={xoa(${JSON.stringify(item)})}>
                                Xóa 
                                </button>
                            </div>
                            </div>

                            `
                            return data.trim()
                        }
                    })
                    .join('')
                }
            
        })
        xhr.open('GET', '/api/book')
        xhr.send()
    }


    list_all_book('')
    list_all_category()
    list_all_publisher()


</script>
<script>
    const logout = document.getElementById('logout')
    logout.addEventListener('click', function () {
        localStorage.removeItem('type')
        window.location.href = '/'
    })

    const search = document.getElementById('search-btn')
    search.addEventListener('click', function () {
        const searchF = document.getElementById('search-field')
        console.log(searchF.value)
        list_all_book(searchF.value)
    })


</script>
<script>
    _current_catetory_search=[]
    function search_category(e) {
        if (e.checked) {
            _current_catetory_search.push(e.value)
        } else {
            const index = _current_catetory_search.indexOf(e.value);
            if (index > -1) {
                _current_catetory_search.splice(index, 1);
        }
        }
        console.log(_current_catetory_search)
        list_all_book(_current_catetory_search, "category")
    }


</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="javascripts/skrollr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
<script src="javascripts/jquery.countTo.min.js"></script>
<script src="javascripts/script.js"></script>


</body>
</html>