<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <script>
            var xhr = new XMLHttpRequest()
            const type = localStorage.getItem('type') || ''
            const domain = window.location.pathname.split('/')[1] || ''

            if (type !== domain) window.location.href = `/${type}`
        </script>
    </head>
    <body class="m-h-screen bg-gray-800">
        <nav
            class="flex justify-between bg-blue-500 text-white px-32 py-6 shadow"
        >
            <div>
                <a href="/" class="font-bold">Library</a>
                <a href="/customer/order">Orders</a>
            </div>
            <div>
                <button id="logout">Logout</button>
            </div>
        </nav>
        <div class="px-32 py-6 flex flex-wrap" id="container"></div>
    </body>
    <script>
        function add(i) {
            const item = { title: i.name, id: i.id }
            const cart = JSON.parse(localStorage.getItem('cart') || '[]')
            localStorage.setItem('cart', JSON.stringify([...cart, item]))
            alert('Add book to cart!')
        }

        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)

                const container = document.getElementById('container')

                container.innerHTML = resp.data
                    .map(function (item) {
                        console.log(item)

                        const data = `<div class="text-white w-1/3 p-2">
                            <div class="bg-gray-700 rounded overflow-hidden">
                                <div style="height: 10rem; background: ${
                                    item.banner
                                        ? `url(/img/${item.banner})`
                                        : 'rgba(107,114,128,var(--tw-bg-opacity))'
                                }" class="bg-gray-500"></div>
                                <div class="p-4">
                                    <div class="font-bold mb-2">
                                        ${item.title}
                                    </div>
                                    <div class="text-xs italic mb-1">
                                        Author: ${item.author[0].name}
                                    </div>
                                    <div class="text-xs italic mb-1">
                                        Publisher: ${item.publisher[0].name}
                                    </div>
                                    <div class="text-xs italic">
                                        Category: ${item.categories[0].name}
                                    </div>
                                    <div class="text-xs italic">
                                        Base price: ${item.basePrice}
                                    </div>
                                    <button class="bg-blue-500 text-white mt-4 bg-blue-500 px-3 py-2 rounded" name="${
                                        item.title
                                    }" id="${item._ids[0]}" onclick={add(this)}>
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    `
                        return data.trim()
                    })
                    .join('')
            }
        })

        xhr.open('GET', '/api/book')

        xhr.send()
    </script>
    <script>
        const logout = document.getElementById('logout')
        logout.addEventListener('click', function () {
            localStorage.removeItem('type')
            window.location.href = '/'
        })
    </script>
</html>
