<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mini Lib</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png"> -->

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">

     
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var xhr = new XMLHttpRequest()
        xhr.withCredentials = true
        const type = localStorage.getItem('type') || ''
        const domain = window.location.pathname.split('/')[1] || ''

        if (type !== domain) window.location.href = `/${type}`
    </script>
</head>
<body class="m-h-screen">




  








    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- <a href="#hero" class="site-logo"><img src="/img/logo.png" alt="logo"></a> -->

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Tìm Kiếm</a></li>
                        <li class="page-scroll"><a href="/admin">Giá Sách</a></li>
                        <li class="page-scroll"><a href="/customer/order">Đơn mượn</a></li>
                        <li class="page-scroll"><a href="/customer/order">Lịch sử mượn</a></li>
                        
                        <li ><a id="logout" class="btn btn-border">logout</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header>
    


    <section id="contact" class="site-section section-form text-center">
        <div class="container">
            <h3>Thêm sách</h3>
            <img src="/img/lines.svg" class="img-lines" alt="lines">
            <form>
                <div class="add-form row">
                    <div class="col-sm-8">
                        <div>
                            <input type="text" id="name" class="form-control mt-x-0" placeholder="Tên sách" required>
                        </div>
                        <div>
                            <input type="text" id="publisher" class="form-control mt-x-0" placeholder="Nhà xuất bản" required>
                        </div>
                        <div>
                            <input type="text" id="authors" class="form-control" placeholder="Tác giả" required>   
                        </div>
                        <div>
                            <input type="text" id="quantity" class="form-control" placeholder="Số lượng" required>   
                        </div>
                        <div>
                            <input type="text" id="added_date" class="form-control" placeholder="Ngày Thêm" required>   
                        </div>
                        <div>
                            <input type="text" id="price" class="form-control" placeholder="Giá tiền" required>   
                        </div>
                        <div>
                            <div class="sec-center col-md-9"> 
                                <div class="checkbox-container">
                                    <ul id="search-category" class="ks-cboxtags">
                                    </ul>
                                  </div>
                                  
                                  
                            </div>
                            <div class="col-sm-3">
                                <button class="add-category-btn btn btn-border" type="submit">Thêm Thể Loại</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    <input type="file" class="col-sm-12 add-image-btn btn btn-border" id="upload-file">Thêm Ảnh </input>
                        <img class="col-sm-12" src ="/img/book3.png" alt="chua them">
                                           </div>

                    <div class="col-sm-12">
                        <input type="text" id="categories" class="form-control" placeholder="Thể loại" required>
                    </div>
  
                    <div class="col-sm-12">
                        <textarea id="message" id="content" class="form-control" placeholder="Nội Dung" required></textarea>
                    </div>
                </div>
                <button id="create" class="btn btn-border">Thêm</button>
            </form>

            <input type="file" class="col-sm-12 add-image-btn btn btn-border">Thêm Ảnh </input>
            
        </div> 
    </section>


    <div id="portfolioItem1" class="modal fade" role="dialog">
        <!-- Button trigger modal -->



</body>
<script>
    let _data = {}

    function getValue(key) {
        const inp = document.getElementById(key)
        if (!inp) return null
        return inp.value
    }

    const inp = document.getElementById('upload-file')
    inp.onchange = function(event) {
    console.log(inp.files[0].Path)
}

    _category=[]

    var now = new Date()

    const loginButton = document.getElementById('create')
    loginButton.addEventListener('click', function () {
        data = JSON.stringify({
            title: getValue('name'),
            author: getValue('authors').split(","),
            categories: getValue('categories').split(","),
            publisher: getValue('publisher'),
            basePrice: getValue('price'),
            quantity: getValue('quantity'),
            addDate: now.toLocaleString(),
            info: getValue('content')
        })
        console.log(data)
        

        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)
                location.href = '/admin'
                
            }
        })

        xhr.open('POST', '/api/book')
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(data)
    })
    function list_all_category() {

xhr.addEventListener('readystatechange', function () {
    if (this.readyState === 4) {
        const resp = JSON.parse(this.responseText)
        if (!resp.success) return alert(resp.message)
        
        _data = resp.data
        for (const i in resp.data) {
            resp.data[i].categories.forEach(element => {
                if (!_category.includes(element)) {
                _category.push(element)
                }
            });
            // if (!_category.includes())
        }




        const container = document.getElementById('search-category')
        container.innerHTML = _category
            .map(function (item, index) {
                id = "checkbox" + String(index);
                const data =
                    `
                <li><input type="checkbox" id="${id}" value="${item}" checked onchange="search_category()"><label for="${id}">${item}</label></li>
                `
                return data.trim()
            })
            .join('')
    }
})
xhr.open('GET', '/api/book')
xhr.send()

}
list_all_category()
</script>
<script>
    const logout = document.getElementById('logout')
    logout.addEventListener('click', function () {
        localStorage.removeItem('type')
        window.location.href = '/'
    })
</script>


<script>
$(function() {


  function handleAutocomplete(term) {
    // use 'term' for custom filtering etc.
    var options = $.grep(_data, function(e) {
      return e.title.startsWith(term);
    });
    return options;
  }

  $("#name").autocomplete({
    minLength: 0,
    source: function(request, response) {
      var name = request.term;
      var data = handleAutocomplete(name); /* get answers from somewhere.. */
      response(data);
    },
    focus: function(event, ui) {
      $("#name").val(ui.item.title);
      return false;
    },

    select: function(event, ui) {
      $("#name").val(ui.item.title);
      $("#email").html(ui.item.quantity);
      
      document.getElementById("portfolioItem1").innerHTML =

        data = `<div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <img class="img-res" src="/img/bg1.jpg" alt="">
            </div>
            <div class="modal-body">
                <h4 class="modal-title">Project title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-fill">Visit Page</a>
            </div>
            </div>
        </div>`
      document.getElementById("portfolioItem1").innerHTML = data


      return false;
    }
  }).autocomplete("instance")._renderItem = function(ul, item) {
    return $("<li>")
      .append('<div data-bs-toggle="modal" data-bs-target="portfolioItem1">' + item.title + "<br> số lượng (" + item.quantity + ")</div>")
      .appendTo(ul);
  };
});
</script>

</html>