<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
         <!-- Basic Page Needs
     ================================================== -->
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
     <title>Mini Lib</title>
 
     <meta name="description" content="">
     <meta name="author" content="">
     <meta name="keywords" content="">
 
     <!-- Mobile Specific Metas
     ================================================== -->
     <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="apple-mobile-web-app-capable" content="yes" />
 
     <!-- Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
 
     <!-- Favicon
     ================================================== -->
     <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"> -->
     <!-- <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png"> -->
 
     <!-- Stylesheets
     ================================================== -->
     <!-- Bootstrap core CSS -->
     <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
 
     <!-- Custom styles for this template -->
     <link href="/stylesheets/style.css" rel="stylesheet">
     <link href="/stylesheets/responsive.css" rel="stylesheet">


    <script>
        var xhr = new XMLHttpRequest()
        const type = localStorage.getItem('type') || ''
        const domain = window.location.pathname.split('/')[1] || ''

        if (type !== domain) window.location.href = `/${type}`
    </script>
</head>
<body >
    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- <a href="#hero" class="site-logo"><img src="/img/logo.png" alt="logo"></a> -->

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="/customer">Tìm Kiếm</a></li>
                        <li class="page-scroll"><a href="/customer">Giá Sách</a></li>
                        <li class="page-scroll"><a href="/customer/order">Đơn mượn</a></li>
                        
                        <li ><a id="logout" class="btn btn-border">logout</a></li>
                        
                    </ul>

                </div>

            </div>
        </nav>
    </header>



    <section id="portfolio" class="site-section section-portfolio">

        <div class="sec-center">

            <div class ="col-sm-3"> 

                <div class="order-form">
            
                    <label for="checkout">Ngày hứa trả:</label>
                    <input type="date" id="checkoutDate" name="checkout" class="form-control">
                    
                    <label for="duedate">Hạn trả:</label>
                    <input type="date" id="dueDate" name="duedate" class="form-control">
                <button onclick="submit()" class="btn">Xac Nhan</button></div>
            </div>
            <div class ="col-sm-6">
                <div id="currenoder_cont"></div>
            
                <div>
                    <div>Sách Hiện Tại:</div>
                    <div class="container" id="currentorder">
                    </div>

                </div>

            </div>
           

        </div>
     </section>










<br>
<br>
<hr>
<section id="portfolio" class="site-section section-portfolio">

    <div class="container" id="cards">

    </div>
</section>


</body>






<script>


    const order = JSON.parse(localStorage.getItem('cart') || '[]').reduce(
        (result, item) => {
            // console.log (item)
            // console.log(result)
            return {...result, [item.id]: item.title}
        },
        {}
    )



    // console.log (order);

    const orderList = Object.entries(order)
        .map(([key, title]) => {
            return`<div class="card col-md-2 card-7"><div class="font-bold mb-2">${title}</div></div>`
        })
        .join('')

        // orderList

    console.log (Object.entries(order))

    function submit() {
        const book = Object.keys(
            JSON.parse(localStorage.getItem('cart') || '[]').reduce(
                (result, item) => {
                    return {...result, [item.id]: item.title}
                },
                {}
            )
        )
        if (!book.length) return
        const coInp = document.getElementById('checkoutDate')
        const checkoutdate = new Date(coInp.value).getTime()
        const dueInp = document.getElementById('dueDate')
        const duedate = new Date(dueInp.value).getTime()

        if (isNaN(checkoutdate) || isNaN(duedate)) return false
        const customer = JSON.parse(localStorage.getItem('user') || '[]')[
            '_id'
            ]
        const _data = {
            customer,
            book,
            dueDate: duedate,
            checkout: checkoutdate,
        }

        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)
                console.log("second")
                localStorage.setItem('cart', '[]')
                window.location.reload()
                console.log(resp.data)
                
            }
        })

        xhr.open('POST', '/api/user/bookCopy')
        xhr.setRequestHeader('Content-Type', 'application/json')

        xhr.send(JSON.stringify(_data))
    }

    document.getElementById(
        'currentorder'
    ).innerHTML = `<div class="flex flex-wrap px-2 mt-4">
            ${orderList}
        </div>`.trim()

    function changeStatus(selectObject) {
        const v = selectObject.value
        const id = selectObject.name
        data = JSON.stringify({
            _id: id,
            status: v,
        })

        xhr.addEventListener('readystatechange', function () {
            if (this.readyState === 4) {
                const resp = JSON.parse(this.responseText)
                if (!resp.success) return alert(resp.message)
                window.location.reload()
            }
        })

        xhr.open('PATCH', '/api/user/bookCopy')
        xhr.setRequestHeader('Content-Type', 'application/json')

        xhr.send(data)
    }

    xhr.addEventListener('readystatechange', function () {
        if (this.readyState === 4) {
            const resp = JSON.parse(this.responseText)
            if (!resp.success) return alert(resp.message)

            const container = document.getElementById('cards')


            container.innerHTML = resp.data
                .map(function (item) {
                    const books = item.book
                        .map(b => {
                            return `<div>
                                1x 
                                    ${b.title}
                                </div>`
                        })
                        .join('')

                    const checkout = new Date(
                        item.checkout
                    ).toLocaleDateString()
                    const dueDate = new Date(
                        item.dueDate
                    ).toLocaleDateString()
                    const interval =
                        (new Date(dueDate).getTime() -
                            new Date(checkout).getTime()) /
                        1000 /
                        60 /
                        60 /
                        24
                    const price = Math.ceil(
                        item.book.reduce((result, i) => {
                            return result + interval * i.basePrice
                        }, 0)
                    ).toLocaleString()
                    let card_status = "card1";
                    const data =
                    `<div class="card col-md-3 ${card_status}">
                                    <div class="font-bold mb-2">
                                        ${books}
                                    </div>
                                    <hr>
                                    <div class="text-xs italic mb-1">
                                        Tình trạng: ${item.status}
                                    </div>
                                    <hr>
                                    <div class="text-xs italic mb-1">
                                        Người Mượn: ${
                        item.customer.name ||
                        item.customer.username
                    }
                                    </div>
                                     <div class="text-xs italic mb-1">
                                        Ngày hứa trả : ${checkout}
                                    </div>
                
                                    <div class="text-xs italic mb-1">
                                        Ngày hết Hạn: ${dueDate}
                                    </div>
                                    
                               
                            
                        </div>
                        `
                    return data.trim()

                })
                .join('')
        }
    })

    const user = JSON.parse(localStorage.getItem('user'))._id
    xhr.open('GET', '/api/user/bookCopy?customer=' + user)

    xhr.send()
</script>
<script>
    const logout = document.getElementById('logout')
    logout.addEventListener('click', function () {
        localStorage.removeItem('type')
        window.location.href = '/'
    })
</script>
</html>
