<html>
    <body>
        <span>UP FILE</span>
        <div>
            <label for="fileUpload">Upload file here </label>
            <input type="file" id="fileUpload" accept="image/*" />
            <button id="uploadBtn">Upload</button>
            <div id="loading"></div>
        </div>
        <script>
            let button = document.getElementById('uploadBtn')
            let request = new XMLHttpRequest()
            let loading = document.getElementById('loading')

            request.addEventListener('readystatechange', function () {
                if (this.readyState === 4) {
                    loading.innerHTML = ''
                    const resp = JSON.parse(this.responseText)
                    alert(
                        resp.success +
                            ' ' +
                            JSON.stringify(resp.data) +
                            ' ' +
                            resp.message
                    )
                }
            })

            button.addEventListener('click', function () {
                let input = document.getElementById('fileUpload')

                let form = new FormData()
                form.append('file', input.files[0])

                request.open('POST', '/api/upload')
                loading.innerHTML = 'loading'
                request.send(form)
            })
        </script>
    </body>
</html>
